body {
  background-color: #34495e;
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
  height: 100%; }

.no-padding {
  padding: 0px; }

.no-margin {
  margin: 0px; }

.splash-padding {
  padding-top: 3em; }

.splash-tab {
  text-align: center;
  font-size: 2.75vw;
  border: 1px solid #7c92a7;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  padding: 0.5em;
  background-color: #576b80;
  color: #eee; }
  .splash-tab:hover {
    text-decoration: none;
    color: #7c92a7; }
  .splash-tab:focus {
    color: #34495e;
    text-decoration: none;
    background-color: #fff; }
  .splash-tab + .splash-tab {
    border-left: 0; }

.splash-content {
  padding: 0.5em;
  background-color: #fff;
  border-radius: 0.25em;
  border-left: 1px solid #7c92a7;
  border-right: 1px solid #7c92a7;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em; }

.menu {
  background-color: #fff;
  min-height: 100%;
  height: auto !important;
  margin-left: 0px; }
  .menu .menu-option {
    font-size: 2.25vw;
    border-top: 1px solid #ddd;
    margin-top: 0.5em;
    color: #7c92a7;
    display: block; }
    .menu .menu-option:hover {
      color: #34495e;
      text-decoration: none; }
    .menu .menu-option:link {
      color: #7c92a7; }
    .menu .menu-option:visited {
      color: #7c92a7; }

.slogan-text {
  font-size: 1vw;
  color: #999; }

.logo {
  width: 1.5em;
  height: 1.5em; }

.fix-bottom-logo {
  text-align: left !important;
  padding-left: 3em;
  padding-bottom: 0.75em; }

.fix-bottom-slogan {
  text-align: left !important;
  padding-left: 1.5em; }

.title, .title-splash {
  color: #34495e;
  font-weight: 700;
  font-size: 3vw; }

.title-splash {
  font-size: 5vw;
  padding-top: 0.5em;
  padding-bottom: 0px; }

.my-nav {
  background-color: #576b80;
  border-color: #576b80;
  border: 1px solid #34495e; }
  .my-nav .nav-border-right {
    border-right: 1px solid #34495e; }
  .my-nav .my-nav-text {
    font-size: 1.5vw;
    color: #eee;
    border-left: 1px solid #34495e; }

.nav-select {
  width: 15em !important; }

.panel-cobra {
  background-color: #576b80;
  color: #eee; }

.btn-my-primary {
  background-color: #576b80;
  color: #eee; }

.open-tasks {
  color: #eee; }
  .open-tasks tr:nth-child(odd) {
    background-color: #7c92a7; }
  .open-tasks tr td {
    border: none !important; }
    .open-tasks tr td .completed {
      color: #8ed89d; }
    .open-tasks tr td .today {
      font-weight: 700; }

.settings-main {
  padding: 2em;
  height: 100%;
  color: #eee;
  background-color: #576b80; }
