<!--Menu Column-->
<div class="menu col-xs-2 text-center">
	<div class="title">TASKD</div>
	<div>
		<a ui-sref="home.tasks" class="menu-option">TASKS</a>
		<a ui-sref="home.settings" class="menu-option">SETTINGS</a>
		<a ui-sref="splash.login" class="menu-option">LOGOUT</a>
	</div>
	<div class="navbar-fixed-bottom fix-bottom-logo">
		<img class="logo" src="assets/img/blue-cobra-transparent.png" alt="Blue Cobras">
	</div>
	<div class="navbar-fixed-bottom fix-bottom-slogan">
		<div class="slogan-text">A Blue Cobra Project</div>
	</div>
</div>
<!-- Content Container-->
<div class="col-xs-10 no-padding" ui-view>
</div>