<!--Menu Column-->
<div class="menu col-xs-2 text-center">
	<div class="title">TASKD</div>
	<div>
		<div class="menu-option">
			TASKS
		</div>
		<div class="menu-option">
			SETTINGS
		</div>
		<div class="menu-option">
			LOGOUT
		</div>
	</div>
	<div class="navbar-fixed-bottom fix-bottom-logo">
		<img class="logo" src="assets/img/blue-cobra-transparent.png" alt="Blue Cobras">
	</div>
	<div class="navbar-fixed-bottom fix-bottom-slogan">
		<div class="slogan-text">A Blue Cobra Project</div>
	</div>
</div>
<!--NavBar + Content Container-->
<div class="col-xs-10 container-fluid-no-padding">
	<!--NavBar-->
	<div>

	</div>
	<!--Content-->
	<div>
		<mynav></mynav>
		<div class="col-xs-6">
			<tasklist></tasklist>
		</div>
		<div class="col-xs-5">
			<newtask></newtask>
		</div>
	</div>
</div>