<div class="panel panel-primary">
	<div class="panel-body">
		<form ng-submit="ctrl.createTask()">
			<div class="form-group">
				<p>
					<input class="form-control" ng-model="ctrl.newTask.name" placeholder="Task Name" type="text">
				</p>
				<div class="form-inline">
					<span>Due Date: </span>
					<p class="input-group">
						<input type="text" class="form-control" uib-datepicker-popup ng-model="ctrl.newTask.due" is-open="ctrl.popup2.opened" datepicker-options="ctrl.dateOptions" ng-required="true" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="ctrl.open2()">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
					<!--chad's image-->
					<img id="image_check">
					<!--end image-->
				</div>
				<textarea rows="6" ng-model="ctrl.newTask.desc" placeholder="Task Description" class="form-control"></textarea>
			</div>
			<br>
			<div>
				<button class="btn btn-primary pull-left" type="submit">Submit</button>
				<button class="btn btn-my-primary pull-right" type="reset">Clear</button>
			</div>
	</div>
	</form>
</div>
</div>

<script  type="text/javascript">
function ShowImage( ImgElement, NewSrc ) {
	ImgElement.src=NewSrc;
}
</script>
<!--onmouseover(this.src='newsrc.jpg')
onmouseout(this.src='oldsrc.jpg')-->


<!--	<!--src="https://dl.dropboxusercontent.com/u/3367612/images/checkbox.png" height="60px" style="padding-left:20px;" onmouseover(this.src="https://dl.dropboxusercontent.com/u/3367612/images/checkbox_green.png") onmouseout(this.src="https://dl.dropboxusercontent.com/u/3367612/images/checkbox.png.src")>-->
