<div class="panel panel-primary">
	<div class="panel-heading">Task List</div>
	<div class="panel-body">
		<p ng-hide="ctrl.taskList.length" class="text-danger">Add Something To Your List!</p>
		<ul ng-show="ctrl.taskList">
			<li ng-repeat="task in ctrl.taskList track by $index">
				<strong>{{task.name}}:</strong> {{task.due}} - <button class="btn btn-xs btn-danger" ng-click="ctrl.removeTask($index)"><span class="glyphicon glyphicon-remove"></span></button>
				<br> {{task.desc}}
			</li>
		</ul>
	</div>
</div>