<nav class="navbar my-nav">
	<div class="container-fluid my-nav-text">
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				Sort By:
				<select class="form-control nav-select">
						<option value="datedesc">Date Desc</option>
						<option value="dateasc">Date Asc</option>
					</select>
			</div>
		</form>
		<ul class="nav navbar-nav">
			<li><a href="#" class="my-nav-text">Completed Tasks</a></li>
			<li><a href="#" class="my-nav-text">Deleted Tasks</a></li>
		</ul>
	</div>
</nav>